<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:replace="~{fragments :: head}"></div>

<body>

	<div th:replace="~{fragments :: header( 'jogos' )}"></div>
		
	<div class="corpo p-2 bg-light">

		<div class="listaJogos p-4">
		
			<div th:replace="~{jogos/jogosFragments :: lancamentos(${jogos})}"></div>
			<a class="anterior-proximo" th:href="@{/topJogos(page=${previousPage})}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
				</svg>
			</a>
			<a class="anterior-proximo" th:href="@{/topJogos(page=${nextPage})}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
				</svg>
			</a>
			
			<div class="listaJogos p-4">
			<div id="replace_div">
				<div th:replace="~{jogos/jogosFragments :: rankingJogos(${jogos})}"></div>
			</div>
		</div>  
			
		</div>
		
	</div>	
		
	<div th:replace="~{fragments :: footer}"></div>
	
</body>
</html>