<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:replace="~{fragments :: head}"></div>

<body>

	<div th:replace="~{fragments :: header( 'profile')}"></div>	
	
	<div class="corpo p-2 bg-light">
		
		<div th:replace="~{paginas/fragmentsContainer :: mensagem(${mensagem})}"></div>	
	
		<div class="container">
			<div class="row">
				<div class="col-2 border-end border-2">
					<div th:replace="~{paginas/fragmentsContainer :: usuarioInfo(${usuario})}"></div>	
				</div>
			
			
				<div class="col-10">
					<div th:replace="~{paginas/fragmentsContainer :: ultimasReviews(${usuario})}"></div>	
				</div>
			</div>
			
		</div>
	</div>
	
    <div th:replace="~{fragments :: footer}"></div>
    
</body>
</html>
